@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --fuchsia: #DF0E73;
    --violet: #6E13E6;
    --aqua: #B4FEE7;
    --purple: #603F8B;
    --dark-purple: #3F1D50;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    color: var(--dark-purple);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 44px;
    color: var(--violet);
}

h2 {
    font-size: 24px;
}

button {
    background-color: var(--violet);
    border: 0;
    border-radius: 1.5rem;
    padding: 8px 36px;
    color: white;
    font-size: 24px;
    min-width: 300px;
}

nav {
    color: var(--fuchsia);
    padding: 20px 100px;
    height: 105px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 24px;
    position: sticky;
}

a {
    color: var(--fuchsia);
    text-decoration: none;
    margin: 0 30px;
}

header {
    display: flex;
    align-items: center;
    height: calc(100vh - 200px);
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0 100px;
}

.container button {
    background-color: var(--fuchsia);
}