@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --fuchsia: #DF0E73;
    --light-fuchsia: #FFE4F1;
    --violet: #6E13E6;
    --light-violet: #EFE2FF;
    --purple: #603F8B;
    --dark-purple: #3F1D50;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    color: var(--dark-purple);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    color: var(--violet);
}

h2 {
    font-size: 24px;
}

button {
    background-color: var(--violet);
    border: 0;
    border-radius: 1.5rem;
    padding: 8px 36px;
    color: white;
    font-size: 18px;
    min-width: 320px;
}

button:hover {
    opacity: 80%;
}

header {
    display: flex;
    align-items: center;
    height: calc(100vh - 64px);
    /* min-height: fit-content; */
}

header .container img {
    width: 132px;
    height: 46px;
    margin-top: 20px;
    display: none;
}

nav {
    color: var(--fuchsia);
    background-color: white;
    padding: 24px 104px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav img {
    width: 132px;
    height: 46px;
}

nav svg {
    display: none;
}

a {
    color: var(--fuchsia);
    text-decoration: none;
    /* margin: 0 32px; */
    padding: 16px;
    transition: 1s;
}

a:hover {
    background-color: var(--fuchsia);
    color: white;
}

.container {
    width: 64%;
    height: fit-content;
    padding: 0 0 0 104px;
}

.container button {
    background-color: var(--fuchsia);
    margin-top: 32px;
}

#sobremim {
    display: flex;
    min-height: fit-content;
    padding-bottom: 80px;
    padding-top: 40px;
    background-color: var(--light-fuchsia);
}

#sobremim .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36%;
    position: relative;
    padding-top: 40px;
}

#sobremim .img-container img {
    width: 75%;
    height: 92%;
}

#sobremim .img-container .line {
    width: 80%;
    height: 90%;
    position: absolute;
    padding-top: 40px;
    border: 1px solid var(--violet);
}

#sobremim .img-container .line.pink {
    border-color: var(--fuchsia);
    transform: rotate(4deg);
}

#servicos {
    min-height: fit-content;
    padding: 80px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1200px;
}

.servico {
    width: 30%;
    text-align: center;
    /* margin: 24px; */
    padding: 16px;
    border: 1px solid var(--violet);
    border-radius: 1.5rem;
    background-color: var(--light-violet);
}

.servico h2 {
    color: var(--violet);
}

.servico svg {
    width: 48px;
    height: 48px;
    background-color: var(--violet);
    border-radius: 50%;
    border: 8px solid var(--violet);
    color: #fff;
}

/* Responsivity */

/* Small Desktop */
@media (max-width: 900px) {
    header .container img {
        display: inline;
    }

    nav {
        padding: 24px 30px;
    }

    nav img {
        display: none;
    }

    .container {
        padding: 24px 30px;
    }
}

/* Tablet */
@media (max-width: 780px) {
    /* body, button, input, select, textarea {
        font-size: 12px;
    } */

    header {
        /* height: fit-content; */
        /* margin-bottom: 72px; */
    }

    h1 {
        font-size: 32px;
    }

    .container {
        width: 100%;
        padding: 0 24px;
    }

    nav {
        padding: 0 24px;
    }

    nav img {
        display: none;
    }

    a {
        padding: 4px;
    }

    #sobremim {
        flex-direction: column;
    }

    #sobremim .img-container {
        width: 100%;
    }

    .servicos-container {
        flex-direction: column;
        align-items: space-between;
        align-items: center;
    }

    .servicos-container .servico {
        width: 90%;
        margin-top: 10px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    nav {
        padding: 0 16px;
        position: fixed;
        width: 100%;
        top: unset;
        bottom: 0;
    }

    nav svg {
        display: block;
        margin: 0 auto 8px;
    }

    nav a {
        font-size: 10px;
    }
}