@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

:root {
    --fuchsia: #DF0E73;
    --light-fuchsia: #FFE4F1;
    --violet: #6E13E6;
    --light-violet: #EFE2FF;
    --purple: #603F8B;
    --dark-purple: #3F1D50;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    color: var(--dark-purple);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 48px;
    color: var(--violet);
    margin: 0 0 40px 0;
}

h2 {
    font-size: 24px;
}

button {
    background-color: var(--violet);
    border: 0;
    border-radius: 1.5rem;
    padding: 8px 36px;
    color: white;
    font-size: 18px;
    min-width: 320px;
}

button:hover {
    opacity: 80%;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 64px);
}

header .container img {
    width: 132px;
    height: 46px;
    margin-top: 20px;
    display: none;
}

nav {
    color: var(--fuchsia);
    background-color: white;
    padding: 24px 104px;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
}

nav img {
    width: 132px;
    height: 46px;
}

nav svg {
    display: none;
}

a {
    color: var(--fuchsia);
    text-decoration: none;
    padding: 16px;
    transition: 1s;
}

a:hover {
    background-color: var(--fuchsia);
    color: #fff;
}

.container {
    width: 64%;
    height: fit-content;
    padding: 0 0 0 104px;
}

.container button {
    background-color: var(--fuchsia);
    margin-top: 32px;
}

#sobremim {
    display: flex;
    min-height: fit-content;
    padding: 80px 0;
    background-color: var(--light-violet);
}

#sobremim .img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 36%;
    position: relative;
    padding-top: 40px;
}

#sobremim .img-container img {
    width: 75%;
    height: 92%;
}

#sobremim .img-container .line {
    width: 80%;
    height: 90%;
    position: absolute;
    padding-top: 40px;
    border: 1px solid var(--violet);
}

#sobremim .img-container .line.pink {
    border-color: var(--fuchsia);
    transform: rotate(4deg);
}

#servicos {
    min-height: fit-content;
    padding: 80px 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicos-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 1200px;
}

.servico {
    width: 30%;
    text-align: center;
    padding: 16px;
    border: 1px solid var(--violet);
    border-radius: 1.5rem;
    background-color: var(--light-violet);
}

.servico h2 {
    color: var(--violet);
}

.servico svg {
    width: 48px;
    height: 48px;
    background-color: var(--violet);
    border-radius: 50%;
    border: 8px solid var(--violet);
    color: #fff;
}

#portfolio {
    background-color: var(--light-violet);
    padding: 80px 0;
}

#portfolio h1 {
    text-align: center;
}

.portfolio-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
}

.portfolio-container .portfolio-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.portfolio-container .portfolio-item ul {
    padding: 0;
    margin: 0;
}

.portfolio-container .portfolio-item ul li {
    display: inline-block;
    background-color: var(--violet);
    color: #fff;
    padding: 4px;
    border-radius: 4px;
    font-size: 0.7rem;
}

.portfolio-container .portfolio-item img {
    width: 240px;
    height: 240px;
}

.portfolio-container .portfolio-item p {
    margin: 8px 0;
}

#curriculo {
    padding: 80px 0;
    text-align: center;
}

#curriculo .curriculo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}

#curriculo .curriculo-container img {
    width: 200px;
    height: 350px;
    display: inline-block;
    margin-right: 16px;
}

#curriculo button {
    font-size: 0.9rem;
    color: #fff;
    background-color: var(--violet);
    max-width: 160px;
    position: relative;
}

#curriculo button svg {
    position: absolute;
    top: 8px;
    left: 16px;
}

#curriculo .curriculo-container .curriculo-info {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 104px 290px;
    width: fit-content;
}

#contato {
    background-color: var(--light-violet);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;
}

#contato h1 {
    background: -webkit-linear-gradient(var(--fuchsia), var(--violet));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
}

#contato p {
    max-width: 650px;
    text-align: center;
}

#contato button {
    background-color: var(--fuchsia);
    margin: 24px 0;
}

#contato .socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    padding: 16px;
}

#contato .socialmedia a {
    color: var(--fuchsia);
    padding: 8px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#contato .socialmedia a:hover {
    color: #fff;
}

footer {
    background-color: var(--light-violet);
    text-align: center;
    padding: 0 0 24px 0px;
    color: var(--violet);
    font-size: 0.8rem;
}

footer svg {
    width: 16px;
    height: 16px;
    color: var(--fuchsia);
}

/* Responsivity */

/* Small Desktop */
@media (max-width: 900px) {
    header .container img {
        display: inline;
    }

    nav {
        padding: 24px 30px;
    }

    nav img {
        display: none;
    }

    .container {
        padding: 24px 30px;
    }
}

/* Tablet */
@media (max-width: 780px) {

    h1 {
        font-size: 32px;
    }

    .container {
        width: 90%;
        padding: 0 24px;
    }

    nav {
        padding: 0 24px;
    }

    nav img {
        display: none;
    }

    a {
        padding: 4px;
    }

    #sobremim {
        flex-direction: column;
    }

    #sobremim .img-container {
        width: 64%;
    }

    .servicos-container {
        flex-direction: column;
        align-items: space-between;
        align-items: center;
        width: 72%;
    }

    .servicos-container .servico {
        width: 100%;
        margin-top: 10px;
    }

    .portfolio-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .portfolio-container .portfolio-item {
        margin-bottom: 16px;
    }
}

/* Mobile */
@media (max-width: 480px) {
    nav {
        position: fixed;
        top: unset;
        bottom: 0;
        width: 100%;
    }

    nav svg {
        display: block;
        margin: 0 auto 8px;
    }

    nav a {
        font-size: 10px;
    }

    .container {
        padding: 0;
        margin: 0 auto;
    }

    #curriculo h1 {
        margin-bottom: 0;
    }

    #curriculo .curriculo-container {
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
    }

    #curriculo .curriculo-container .curriculo-info {
        min-height: 300px;
        margin-bottom: 16px;
    }

    footer {
        padding: 0 0 72px 0px;
    }
}